<div class="banner">
    <div class="container">
      <h1>Happy Daze</h1>
      <h2>cocktail bar</h2>
      <p>You deserve a cocktail today</p>
      <%= link_to "Add your own", new_cocktail_path, class: "btn btn-light btn-lg" %>
    </div>
</div>
<br>
<div class="container">
  <div class= "row"></div>
  <h2>Our cocktail Menu</h2>
  <br>
  <div class="card-columns">
    <% @cocktails.each do |cocktail| %>
        <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url('https://source.unsplash.com/featured/?{drink},{cocktail}<%= (1..10000).to_a.sample %>');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "View", cocktail_path(cocktail), class: 'card-link' %>
        </div>
    <% end %>
  </div>
</div>
